input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#main-container{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.pinimg.com/originals/bb/d4/07/bbd4074837ddcc377e7a28023dd3ecaf.jpg');
    background-size: cover;
}
.login-container {
    width: 40%;
    background-color: #1c1c1c;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px cyan;
}

.login-form #toggle{
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
}
.login-form h1 {
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 12px 30px;
    margin: 10px 0;
    border: none;
    border-radius: 25px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}
#password-div {
    margin: 6px 0;
    width: 100%;
    display: inline-block;
    border-radius: 25px;
    background-color: #333;
    color: #a9a6a6;
}

#password-div input {
    width: 80%;
    padding: 4px 0px;
    margin: 10px 0;
    border: none;
    outline: none;
}

#password-div i {
    font-size: 20px;
    font-weight: 700;
    width: 20%;
    cursor: pointer;
}


.login-form .fb-login {
    background-color: #3b5998;
}

.login-form .divider {
    margin: 20px 0;
    position: relative;
    color: #b3b3b3;
}

.login-form .divider:before, .login-form .divider:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #b3b3b3;
}

.login-form .divider:before {
    left: 0;
}

.login-form .divider:after {
    right: 0;
}


@media (max-width: 850px) {
    #main-container{
        position: relative;
    }
    .login-container {
        width: 70%;
        position: absolute;
        top: 5%;
        left: 15%;
    }
  }

@media (max-width: 500px) {
    .login-container {
        width: 80%;
        position: absolute;
        top: 5%;
        left: 10%;
    }
    #main-container {
        position: relative;
      height: 90vh;
      width: 100%;
      background-size: cover;
      background-position: center center;
      background-image: url('https://i.pinimg.com/originals/01/3c/a0/013ca0a8b6959c25a5a2934af5dd1ef9.jpg') !important; 
      background-color: rgba(79, 79, 79, 0.149);
    }
  }
  