.homepage-wrapper {
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-image: url('https://cdn.vectorstock.com/i/1000x1000/48/40/abstract-tech-design-background-vector-19694840.webp');
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(79, 79, 79, 0.149);
}