.homepage-wrapper {
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: left center;
  background-image: url('https://i.pinimg.com/originals/bb/d4/07/bbd4074837ddcc377e7a28023dd3ecaf.jpg');
  background-color: rgba(79, 79, 79, 0.149);
}

@media (max-width: 400px) {
  .homepage-wrapper {
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-image: url('https://i.pinimg.com/originals/01/3c/a0/013ca0a8b6959c25a5a2934af5dd1ef9.jpg') !important; 
    background-color: rgba(79, 79, 79, 0.149);
  }
}
